progNav Paper/progNav Paper.aux
progNav Paper/progNav Paper.bbl
progNav Paper/progNav Paper.blg
progNav Paper/progNav Paper.log
progNav Paper/progNav Paper.pdf
progNav Paper/progNav Paper.synctex.gz

#Eclipse
.project

*.out
progNav Paper/texput.log
